*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    min-height: 115px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(238, 213, 74), #ffc629);;
}

img{
    width:10%;
    height:10%;
    float: left;
    margin-right: -10%;
}

li{
    font-size: 150%;
    display: inline-block;
}

ul{
    text-align: center;
}

h1{
    font-size: 250%;
    text-align: center;
    line-height: 110%;
}

body{
    background-image: url('images/bg3.png');
    background-repeat: repeat;
}

.map{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.centered{
    width: 75%; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    background-color:rgba(176, 179, 178, 0.75);;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
    
  }
  

.row {
    content: "";
    display: table;
    clear: both;
  }

  button {
      width:120px;
      height:auto;
  }